.title {
    margin-bottom: 1rem;
    color: #FF9501;
}

.image {
    width: 45rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.title2 {
    color: #FF9501;
}

.spacing {
    margin: 0 calc(100vw * 0.05);
}

.info {
    padding-top: 1.5em;
}

.icon {
    color: rgb(255, 136, 0);
}

.justify {
    text-align: justify;
}