@import '../variables.scss';

.link {
  text-decoration: none;
}

.receita {
    background-color: rgb(230, 230, 230);
    color: rgb(92, 92, 92);
    font-size: 14px;
    padding: 0;
    margin-bottom: 40px;
    transition-duration: 0.2s;
    &:hover {
        .capaFundo {
            height: 140px;
        }
        .LerMais {
            display: block;
        }
        margin-bottom: 10px;
    }
}

.capaFundo {
    transition-duration: 0.2s;
    height: 110px;
    position: relative;
    overflow-y: auto;
}

.capaFundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infos {
    text-align: center;
}

.titulo {
    font-size: 1.2rem;
    margin: 10px 5px;
}

.cardInfo {
    height: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.cardInfo > i,
.cardInfo + div > i {
    color: $components-color;
}

.icon {
    margin: 0 0.5em 0 0.8em;
}

.descricao {
    height: 60px;
    font-size: 12px;
    color: rgb(128, 128, 128);
    padding-bottom: 5px;
    overflow-y: hidden;
}

.LerMais {
    display: none;
    transform: translateY(-28px);
    position: absolute;
    background-image: linear-gradient(rgba(230, 230, 230, 0.5), rgba(230, 230, 230), rgba(230, 230, 230));
}

.LerMais,
.receita {
    width: 300px;
}
